@inherits FlowbiteComponentBase

<li>
    <NavLink href="@ChatUrl"
             class="@NavLinkClasses"
             ActiveClass="bg-gray-100 dark:bg-gray-700">

        <div class="flex-shrink-0 mr-3">
@*             <Avatar ImageUrl="@Chat.AvatarUrl"
                    Size="AvatarSize.Medium"
                    Rounded="true" /> *@
        </div>

        <div class="flex flex-col flex-grow w-0">
            <span class="font-bold text-sm truncate dark:text-white">
                @Chat.CharacterName
            </span>
            <span class="text-xs text-gray-500 dark:text-gray-400 truncate">
                @Chat.LastMessage
            </span>
        </div>

        <span class="ml-auto text-xs text-gray-400 dark:text-gray-500 pl-1 flex-shrink-0">
            @Chat.Timestamp
        </span>
    </NavLink>
</li>

@code {
    /// <summary>
    /// The chat data object for this item.
    /// </summary>
    [Parameter, EditorRequired]
    public ChatSummary Chat { get; set; } = default!;

    private string ChatUrl => $"/chat/{Chat.Id}";

    private string NavLinkClasses => CombineClasses(
        "flex items-start p-2 w-full rounded-lg text-base font-medium text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
    );
}