@using LiteRP.WebApp.Utilities
<li>
    <NavLink href="@ChatUrl"
             class="@NavLinkClasses"
             ActiveClass="bg-gray-100 dark:bg-gray-700"
             style="margin: -0.727px">

        <div class="flex-shrink-0 mr-3 w-10 h-10">
            <CharacterAvatar Character="Chat.Character" SizeToken="sm" Class="rounded-full aspect-square" />
        </div>

        <div class="flex flex-col flex-grow w-0">
            <div class="flex justify-between">
                <span class="font-bold text-sm truncate dark:text-white">
                    @Chat.Character.Name
                </span>
                @if (IsNew)
                {
                    <span class="w-7"></span>
                }
                else
                {
                    <span class="ml-auto text-xs text-gray-400 dark:text-gray-500 pl-1 flex-shrink-0">
                        @Chat.Timestamp.ToShortAgo()
                    </span>
                }
            </div>
            <span class="truncate text-xs text-gray-500 dark:text-gray-400 truncate @(IsNew ? "italic" : "")">
                @(IsNew ? "New Chat" : Chat.LastMessage)
            </span>
        </div>
    </NavLink>
</li>

@code {
    /// <summary>
    /// The chat data object for this item.
    /// </summary>
    [Parameter, EditorRequired]
    public required ChatSummary Chat { get; set; }

    /// <summary>
    /// If true, indicates this is a new, unsaved chat.
    /// </summary>
    [Parameter]
    public bool IsNew { get; set; }

    private string ChatUrl => IsNew ? $"/chat/new/{Chat.Character.Id}" : $"/chat/{Chat.Id}";

    private string NavLinkClasses => new CssBuilder("flex items-start p-2 w-full rounded-lg text-base font-medium")
        .AddClass("text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group")
        .AddClass("border border-dashed border-gray-300 dark:border-gray-600", IsNew)
        .Build();
}